


.homeFirst{
    height: 30px;
    padding-top: 1px;
}
.navbar{
    height: 70px;
}
.search{
    width: 500px;
    border-radius: 10px;
    
}
.icon{
    height: 50px;
    width: 50px;
}
.icon1{
    height: 30px;
    width: 30px;
}

.advert{
    padding-top:15%;
    padding-left: 5%;
    background-image: url(/Image/shopping\ image.jpg);
    background-size: cover;
    
}
.but{
    border-radius: 30px;
    
}
.int{
    display: flex;
}
.verticalLine{
    border-left: 1px solid #000;
    height: 80px;
}
.brand{
    padding-left: 10px;
    padding-right: 20px;
}
.nav2{
    background-color: black;
    display: flex;
    margin-top: 10px;
}
.logo{
    height: 80px;
    color: aliceblue;
    padding-left: 60px;
    padding-right: 60px;
}
.arrivals{
  display: flex;
    
}
.cloths{
   height: 150px;
   margin-left: 40px;
   
}
.secondTshirt{
    height: 350px;
}
.shirts{
    height: 300px;
}
.cont{
    background-color: rgb(193, 193, 204);
    border-radius: 10px;

}
.mencasual{
    width: 300px;
    border-radius: 20px;
    margin-left: 30px;
}
.menformal{
    width: 500px;
    height: 200px;
    border-radius: 20px;
    margin-left: 80px;
}
.menformal1{
    width: 500px;
    height: 200px;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 20px;
}
.mencasual1{
    width: 300px;
    border-radius: 20px;
    margin-left: 80px;
    margin-top: 20px;
}
.right{
    height: 30px;
    width: 30px;
}
.star{
    height: 50px;
    width: 200px;
}
.happyCust{
    width: 400px;
    padding-left: 10px;
    margin-top: 30px;
}
.happyCust1{
    margin-left: 3px;
    width: 400px;
    padding-left: 10px;
    margin-top: 30px;
}
.last{
    
    color: antiquewhite;
    
    padding-top: 50px;
    padding-bottom: 50px;
}
.last1{
    background-color: black;
    border-radius: 20px;
}
.text{
    height: 35px;
    width: 400px;
    margin-top: 50px;
    margin-left: 80px;
    border-radius: 20px;
}
.text1{
    height: 35px;
    width: 400px;
    margin-top: 25px;
    margin-left: 80px;
    border-radius: 20px;
}
.footer{
    background-color: rgb(223, 223, 233);
    display: flex;
}
.twetter{
    height: 20px;
    width: 20px;
}
.twetter1{
    height: 20px;
    width: 20px;
    margin-left: 20px;
}
.footshop{
    width: 300px;
    height: 300px;
    margin-left: 120px;
}
.foot2{
    margin-top: 25px;
    margin-left: 60px;
}
.endpage{
    background-color: rgb(223, 223, 233);
    padding-bottom: 30px;
}
.endicon{
    height: 40px;
    width: 40px;
    margin-left: 20px;
}